version: '3.8'

services:
  next-app:
    build:
      context: ./client/my-app
    volumes:
      - ./client/my-app:/app
      - /app/node_modules
    ports:
      - "8060:8060"
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    working_dir: /app
    command: npm run dev -- -p 8060

  server:
      build:
        context: ./server
      volumes:
        - ./server:/app
        - /app/node_modules
      ports:
        - "8066:8066"
      env_file:
        - ./.env.local
      environment:
        - NODE_ENV=development
      working_dir: /app
      command: npx nodemon --legacy-watch index.js